$primary: #228CDB;
$dark: #353D46;

$theme-colors: (
  'gray-100': #333,
);

$body-bg: #F5F5F5;
$body-color: #353D46;
$font-family-base: 'Roboto';

$list-group-border-width: 0;


@import "bootstrap/scss/bootstrap.scss";
@import 'bootstrap-vue/dist/bootstrap-vue.css';
