$primary: #228CDB;
$dark: #353D46;

//$input-placeholder-color: ;

$theme-colors: (
  'gray-100': #333,
  'secondary-100': #f8f9fa,
  'secondary-200': #8797ab,
);

$tooltip-bg: #353D46;
$tooltip-opacity: 1;

$body-bg: #F5F5F5;
$body-color: #353D46;
$font-family-base: 'Roboto';

$card-border-radius: .5rem;
$card-border-width: 0;

$list-group-border-width: 0;

$spacer: 1rem;
$spacers: (
  6: ($spacer * 4)
);

$modal-inner-padding: 1rem 1.5rem;
$modal-content-border-width: 0;

$grid-gutter-width: 32px;

@import "bootstrap/scss/bootstrap.scss";
@import 'bootstrap-vue/dist/bootstrap-vue.css';
