$primary: #228CDB;
$dark: #353D46;

$theme-colors: (
  'gray-100': #333,
  'secondary-100': #f8f9fa,
  'secondary-200': #8797ab,
);

$tooltip-bg: #353D46;
$tooltip-opacity: 1;

$body-bg: #F5F5F5;
$body-color: #353D46;
$font-family-base: 'Roboto';

$list-group-border-width: 0;

$spacer: 1rem;
$spacers: (
  6: ($spacer * 4)
);

@import "bootstrap/scss/bootstrap.scss";
@import 'bootstrap-vue/dist/bootstrap-vue.css';
